<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="FolderPath" value="D:\Online vs\TrueCallersApp\NumVerifyInputAndOutput\NumberFiles\Airtel" />-->
		<add key="FolderPath" value="D:\Online vs\TrueCallersApp\NumVerifyInputAndOutput\NumberFiles\Vodafone" />
		<add key="StartDigits" value="9943" />
		<add key="StartWant" value="true" /> <!--true or false-->		
		<add key="EndingDigits" value="91" />
		<add key="EndingWant" value="true" />	<!--true or false-->
	</appSettings>
</configuration>

<!--
These are Airtel
7708 -
8056 -
8220 -
8754 -
8870 -
9003 -
9500 -
9566 -
9597 -
9600 -
9629 -
9677 -
9789 -
9790 -
9791 -
9840 -
9894 -
9940 -
9944 -
9952 -
9994 -
-->

<!--
These are Vodafone
7639 -
8098 -
8489 -
8940 -
9047 -
9159 -
9585 -
9626 -
9655 -
9751 -
9786 -
9787 -
9843 -
9943 -
-->